
<footer class="footer-main">
    <div class="overlay">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-widget">
                            <h2 class="widget-title">Find our </h2>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="address-type">
                                            <i class="fa fa-compass"></i>
                                            <span>Address</span>
                                        </div>
                                        <div class="address-info">
                                            <p>The Venture Center Library ,Pune</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-type">
                                            <i class="fa fa-envelope-o"></i>
                                            <span>Email</span>
                                        </div>
                                        <div class="address-info">
                                            <p>
                                                library@venturecenter.co.in <br />
                                                info@venturecenter.co.in
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-type">
                                            <i class="fa fa-phone"></i>
                                            <span>Phone</span>
                                        </div>
                                        <div class="address-info">
                                            <p> 020899 76738</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copywrite">&copy; Copyright @System.DateTime.UtcNow.Year, All Rights Reserved, The Venture Center Library</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-bottom-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="@Url.Action("Contactus","Home")">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


