@inherits System.Web.Mvc.WebViewPage
@*<h2><center>WELCOME-DASHBOARD</center></h2>*@

<div id="viewport">
            <img src="~/Image/dash.jpg" class="img-circle profile-image" height="300px" width="800px" />
    </div>



