@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

.colorful-bg {
    background-color: lightcyan;
    color: black;
}

.navbar-top-links {
    margin-top: 20px;
    margin-bottom: 0;
}

.navbar-right {
    margin-left: 20px;
}

.navbar-right {
    margin-right: 20px;
}




   
  




  